<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Required for .NET Aspire Configuration Schema Generator, which needs System.CommandLine. -->
    <add key="artifacts" value="artifacts" />
    <add key="artifacts-test" value="artifacts/test" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
