<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Required for .NET Aspire Configuration Schema Generator, which needs System.CommandLine. -->
    <clear/>
    <add key="artifacts" value="artifacts" />
    <add key="artifacts-test" value="artifacts/test" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
  </packageSources>
</configuration>
